/* Body background */
body{
    background-color: floralwhite;
}

/* Navigation bar styling */
nav {
    display: block;
    padding: 10px;
    margin: 0px;
    background-color:rgb(50, 50, 50)
}

/* Header styling */
header img {
    display: block;
    margin: 30px;
    width: 200px;
}

/* Link styling */
a {
    color: rgb(255, 255, 255);
    padding: 5px;
}

/* Link states */
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}