/* Body background of whole site */
body{
    background-color: rgb(15, 15, 15);
}

/* Navigation bar styling */
nav {
    padding: 10px;
    margin: 0px;
    background-color:rgb(50, 50, 50)
}
nav a {
    color: rgb(255, 255, 255);
    padding: 5px;
}

/* Navigation bar link states */
nav a:link {
    text-decoration: none;
}
nav a:visited {
    text-decoration: none;
}
nav a:hover {
    color: rgb(132, 0, 184);
    text-decoration: underline;
}
nav a:active {
    text-decoration: underline;
}

/* All pages text coloring */
h1 {
    color: white;
    font-size: 450%;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}
h2 {
    color: rgb(132, 0, 184);
    font-family: sans-serif;
}
h3 {
    color: white;
    font-family: sans-serif;
}
p {
    color: white;
    font-family: sans-serif;
}
td {
    color: white;
    font-family: sans-serif;
}

/* Home styling */
header img {
    display: flex;
    margin: 30px;
    width: 200px;
}
.profile {
    text-align: center;
    margin-top: 30px;
}
.instagram {
    width: 70px;
}
.linkedin {
    width: 80px;
}
main a img:hover {
    transform: scale(1.25);
}

/* Portfolio formatting */
tr {
    text-align: center;
}
td img {
    display: inline-block;
    width: 300px;
}
.zoo {
    text-align: left;
    margin-left: 100px;
}
.grocery {
    text-align: right;
    margin-right: 100px;
}
.vault {
    text-align: left;
    margin-left: 100px;
}